@font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico-Regular.ttf') format('ttf');
}

#logo {
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5rem;
}

.debug {
    border: 1px solid red;
}

/* 
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 10px;
    background-color: #0000006e;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover::before {
    opacity: 1;
} */