---
import Layout from "../layouts/Layout.astro";
import "../styles/icons.css";
import "@fontsource/pacifico";
---

<Layout title="minorient | beautiful gradient wallpapers for any device">
  <main>
    <div
      id="goBack"
      class="absolute z-50 w-1/3 h-full justify-center items-center mix-blend-overlay opacity-20 pr-12 cursor-pointer hover:opacity-80 text-white"
    >
      <i class="gg-chevron-left"></i>
    </div>
    <div
      id="goForward"
      class="absolute z-50 w-1/3 right-0 h-full justify-center items-center mix-blend-overlay opacity-20 pl-12 cursor-pointer hover:opacity-80 text-white"
    >
      <i class="gg-chevron-right"></i>
    </div>
    <img
      class="fixed w-full h-full"
      src=""
      alt="random gradient wallpaper"
      id="img"
    />
    <div
      class="absolute text-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
      id="actions"
    >
      <h1 id="logo" class="text-white">minorient</h1>
      <button
        class="flex items-center m-5 rounded border border-white px-12 py-3 text-sm font-medium text-white opacity-50 hover:opacity-100 mix-blend-overlay"
        id="generate"
        ><p class="pr-2">Generate</p><i class="gg-sync"></i></button
      >
      <!-- TODO back button -->
      <button
        class="flex items-center m-5 rounded border border-white px-12 py-3 text-sm font-medium text-white opacity-50 hover:opacity-100 mix-blend-overlay"
        id="download"
        ><i class="gg-software-download"></i><p class="pl-2">
          Download
        </p></button
      >
    </div>
  </main>
  <footer>
    <em
      class="flex flex-col lg:flex-row text-center absolute bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-40 mix-blend-overlay text-white text-xs"
    >
      <span
        >developed with :love: by <a
          class="hover:underline"
          href="https://karim.run"
          target="_blank"
        >
          karim</a
        >
         and <a
          class="hover:underline"
          href="https://codeium.com"
          target="_blank"
        >
          Codeium</a
        >
        <span> - since 2023</span>
      </span>
    </em>
  </footer>
</Layout>

<script>
  import { generateRandomGradientImage } from "../funcs/generateRandomGradientImage.ts";
  import { downloadImage } from "../funcs/downloadImage.ts";

  const w = window.screen.width;
  const h = window.screen.height;
  let fileName: string;
  let history: any = [];
  let currentWallpapaer = 0;

  const img: HTMLImageElement = document.getElementById(
    "img",
  ) as HTMLImageElement;

  const generateBtn = document.getElementById("generate");
  const downloadBtn = document.getElementById("download");
  const goBackBtn = document?.getElementById("goBack");
  const goForwardBtn = document?.getElementById("goForward");

  const setNewWallpaper = () => {
    if (img) {
      fileName = `minorient-${Date.now()}.png`;
      const tmp = generateRandomGradientImage(w, h);
      img.src = tmp;
      history.push({
        img: tmp,
        fileName: fileName,
      });
      currentWallpapaer = history.length - 1;
      handleShowGoBackGoForwardButton();
    }
  };

  const goBack = () => {
    if (currentWallpapaer > 0) {
      currentWallpapaer--;
      img.src = history[currentWallpapaer].img;
      handleShowGoBackGoForwardButton();
    }
  };

  const goForward = () => {
    if (currentWallpapaer < history.length - 1) {
      currentWallpapaer++;
      img.src = history[currentWallpapaer].img;
      handleShowGoBackGoForwardButton();
    }
  };

  const handleShowGoBackGoForwardButton = () => {
    if (goBackBtn) {
      if (currentWallpapaer > 0) {
        goBackBtn.style.display = "flex";
      } else {
        goBackBtn.style.display = "none";
      }
    }

    if (goForwardBtn) {
      if (currentWallpapaer < history.length - 1) {
        goForwardBtn.style.display = "flex";
      } else {
        goForwardBtn.style.display = "none";
      }
    }
  };

  setNewWallpaper(); // initial wallpaper

  // actions
  generateBtn?.addEventListener("click", () => setNewWallpaper());
  downloadBtn?.addEventListener("click", () =>
    downloadImage(img, history[currentWallpapaer].fileName),
  );

  goBackBtn?.addEventListener("click", () => goBack());
  goForwardBtn?.addEventListener("click", () => goForward());

  // shortcuts
  window.addEventListener("keydown", (e) => {
    if (e.ctrlKey && e.key === "z") {
      goBack();
    }
    if (e.ctrlKey && e.key === "y") {
      goForward();
    }
    const space = " ";
    if (e.key === "Enter" || e.key === space) {
      setNewWallpaper();
    }
  });

  let touchstartX = 0;
  let touchendX = 0;

  document.addEventListener("touchstart", (e) => {
    touchstartX = e.changedTouches[0].screenX;
  });

  document.addEventListener("touchend", (e) => {
    touchendX = e.changedTouches[0].screenX;
    checkDirection();
  });

  function checkDirection() {
    if (touchendX > touchstartX) goBack(); // swirped right
    if (touchendX < touchstartX) goForward(); // swiped left
  }
</script>

<style></style>
