---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='what is more important than a good wallpaper?' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/png' href='/minorient/favicon.png' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
